{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<!-- import CSS -->
	<title>简单的自然语言分析</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
	<div id="app" style="width: 800px;height: 600px;text-align:center;margin: 0 auto;">
        <el-container>
			<el-main>
				<el-tabs type="border-card">
                    <!-- 第一个标签页 -->
					<el-tab-pane label="输入文本">
						<el-row type="flex" class="row-bg">
							<el-input type="textarea" :rows="3" placeholder="请输入内容" v-model="textarea" name="sentence">
							</el-input>
						</el-row>
						<el-row type="flex" justify="start">
							<el-col :span="1">
								<el-tooltip class="item" effect="dark" content="随机示例" placement="bottom-start">
									<el-button type="info" icon="el-icon-refresh" id="random" @click="randomSample" plain>随机示例</el-button>
								</el-tooltip>
							</el-col>
							<el-col :span="8" :offset="8">
								<el-button type="primary" icon="el-icon-s-promotion" name="submit" @click="onSubmit" plain>分析</el-button>
							</el-col>
                            <el-col :span="15">
								<el-input placeholder="请输入内容" v-model="extra_word" class="input-with-select" clearable>
                                    <el-select v-model="extra_flag" slot="prepend" placeholder="请选择" style="width: 90px;">
                                      <el-option label="名词" value="n"></el-option>
                                      <el-option label="形容词" value="adj"></el-option>
                                      <el-option label="副词" value="adv"></el-option>
                                      <el-option label="动词" value="v"></el-option>
                                    </el-select>
                                </el-input>
							</el-col>
						</el-row>
                    </el-tab-pane>
                    <!-- 第二个标签页 -->
					<el-tab-pane label="上传文本">
						<el-row type="flex" class="row-bg">
							<el-col :span="6">
								<div class="grid-content bg-purple"></div>
							</el-col>
							<el-col :span="6">
								<div class="grid-content bg-purple-light">
									<el-upload class="upload-demo" drag action="/analyze_file/" multiple name="TxtFile" accept=".txt" :on-success="uploadSuccess"
									 :on-error="uploadError">
										<i class="el-icon-upload"></i>
                                        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                                        <div class="el-upload__tip">只能上传txt文件，且不超过500kb</div>
                                    </el-upload>
                                </div>
                            </el-col>
                            <el-col :span="6">
                                <div class="grid-content bg-purple"></div>
                            </el-col>
                        </el-row>
                    </el-tab-pane>

                    <el-row type="flex" justify="center">
                        <el-tooltip class="item" v-for="(tag, i) in words" effect="dark" placement="top">
                              <div slot="content">{[flags[i]]}</div>
                        <el-tag style="margin-left: 5px" type="info"
                          :disable-transitions="false">
                          {[words[i]]}
                        </el-tag>
                        </el-tooltip>
                    </el-row>

                    <el-row type="flex" justify="center">
                        <el-tag style="margin-left: 5px;padding: 0px" v-bind:style="{width: item.width +'px'}"
                          v-for="item in parse" :effect="parseStyle[item.name].effect" :type="parseStyle[item.name].type"
                          :disable-transitions="false">
                          {[item.name]}
                        </el-tag>
                    </el-row>
                    <el-row type="flex" justify="center">
                        <el-tag type="danger">
                            {[type]}
                        </el-tag>
                    </el-row>
            </el-tabs>
        </el-main>
    </el-container>
    <!-- 右下角的一个2D人物 -->
    <!-- <div id="page_end_html"><script src="https://cdn.jsdelivr.net/npm/live2d-widget@3.0.4/lib/L2Dwidget.min.js"></script> <script type="text/javascript"> L2Dwidget.init(); </script></div> -->
</div>

</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script>
    sample = [
        {
            sentence: "请好心的你帮帮可怜的我吧",
            extra_word: "",
            extra_flag: "n",
            message: "普通祈使句",
        }, {
            sentence: "我是计算机专业的学生",
            extra_word: "计算机专业",
            extra_flag: "n",
            message: "补充“计算机专业”为名词",
        }, {
            sentence: "小明和小红都喜欢打篮球",
            extra_word: "",
            extra_flag: "n",
            message: "带连词的主语",
        }, {
            sentence: "定海神针是否被那齐天大圣抢走了？",
            extra_word: "",
            extra_flag: "n",
            message: "被动+是否",
        }, {
            sentence: "小明成为了一名华南师范大学的学生",
            extra_word: "华南师范大学",
            extra_flag: "n",
            message: "补充“华南师范大学”为名词",
        }, {
            sentence: "中国对外经济技术合作不断扩大",
            extra_word: "",
            extra_flag: "n",
            message: "主谓结构",
        }, {
            sentence: "我把电脑修好了",
            extra_word: "",
            extra_flag: "n",
            message: "把字陈述句",
        }, {
            sentence: "电脑被我修好了",
            extra_word: "",
            extra_flag: "n",
            message: "被式陈述句",
        }, {
            sentence: "你喜欢喝牛奶吗？",
            extra_word: "",
            extra_flag: "n",
            message: "普通疑问句",
        }, {
            sentence: "小明是否将小鸟吓跑了？",
            extra_word: "",
            extra_flag: "n",
            message: "把式疑问句",
        }, {
            sentence: "新建的博物馆里整齐地摆设了许多精美的名画和瓷器",
            extra_word: "",
            extra_flag: "n",
            message: "长陈述句",
        }, 
    ]
    var i = -1
    var arr = []
    for (let j = 0; j < sample.length; j++) {
        arr.push(j)
    }
    function randomsort(a, b) {
        return Math.random()>.5 ? -1 : 1;
    }
    arr.sort(randomsort);//随机打乱
    
    new Vue({
        el: '#app',
        delimiters: ["{[", "]}"],
        data: function () {
            return {
                visible: false,
                textarea:'',
                value:0,
                type: "简单的自然语言分析",
                colors: ['#99A9BF', '#F7BA2A', '#FF9900'],
                words: ["本",
                    "网站",
                    "可以",
                    "处理",
                    "简单",
                    "的",
                    "中文",
                    "分词",
                    "和",
                    "语句",
                    "分析"
                ],
                result: [
                    "主语",
                    "主语",
                    "谓语",
                    "谓语",
                    "定语",
                    "定语",
                    "宾语",
                    "宾语",
                    "宾语",
                    "宾语",
                    "宾语"
                ],
                parse: [
                    {name: "主语", width: 85},
                    {name: "谓语", width: 97},
                    {name: "定语", width: 85},
                    {name: "宾语", width: 238}
                ],
                error: "",
                flags: [
                    "代词",
                    "名词",
                    "动词",
                    "动词",
                    "形容词",
                    "的",
                    "名词",
                    "名词",
                    "并列连词",
                    "名词",
                    "名词"
                ],
                parseStyle: {
                    "主语": {
                        effect: "dark",
                        type: ""
                    },
                    "谓语": {
                        effect: "dark",
                        type: "success"
                    },
                    "宾语": {
                        effect: "dark",
                        type: ""
                    },
                    "定语": {
                        effect: "light",
                        type: ""
                    },
                    "状语": {
                        effect: "light",
                        type: "success"
                    },
                    "祈使词": {
                        effect: "dark",
                        type: "info"
                    },
                    "补语": {
                        effect: "dark",
                        type: "info"
                    },
                    "把词": {
                        effect: "dark",
                        type: "success"
                    },
                    "疑问词": {
                        effect: "dark",
                        type: "info"
                    },
                    "被词": {
                        effect: "dark",
                        type: "success"
                    },
                    "助词": {
                        effect: "dark",
                        type: "info"
                    },
                    "符号": {
                        effect: "light",
                        type: "info"
                    },
                    "未知": {
                        effect: "dark",
                        type: "danger"
                    },
                },
                extra_flag: "n",
                extra_word: "",
                flagList: ["n", "adj", "adv", "v"]
            }
        },
        methods:{
            onSubmit(){
                if (this.textarea == "") {
                    this.$message.error('分析内容不能为空');
                } else if (this.textarea.length <= 3) {
                    this.$message.error('分析内容过短');
                } else {
                    var params = new URLSearchParams();
                    params.append('sentence', this.textarea);
                    params.append('extra_word', this.extra_word);
                    params.append('extra_flag', this.extra_flag);
                    console.log(this.extra_word)
                    axios.post("/analyze/",params).then((response)=>{
                        console.log('上传文本', response)
                        const {words, result, flags, error, flags2, type} = response.data
                        this.words = words
                        this.flags = flags2
                        this.type = type
                        var parse = []
                        for (let i = 0; i < result.length; i++) {
                            let name = result[i]
                            let n = 1
                            let t = words[i].length
                            while (i < result.length && result[i+1] == name) {
                                i++;
                                n++;
                                t += words[i].length
                            }
                            parse.push({name: name, width: 27*n+12*t-5})
                        }
                        if (words.length > result.length) {
                            let n = words.length - result.length
                            let t = 0
                            for (let i = result.length; i < words.length; i++) {
                                t += words[i].length
                            }
                            parse.push({name: "未知", width: 27*n+12*t-5})
                        }
                        this.parse = parse
                        console.log(parse)
                        if (error.length > 0) {
                            // console.log(error.length > 0)
                            e = error[0]
                            for (let i = 1; i < error.length; i++) {
                                e += ", " + error[i]
                            }
                            this.$notify.error({
                                title: "错误",
                                message: e,
                                duration: 5000
                                // message: '这是一条错误的提示消息'
                            });
                        }
                        this.$message({type: 'success',message: '分析成功!'});
                    });
                }
            },
            uploadSuccess (response, file, fileList) {
                console.log('上传文件', response)
                const {words, result, flags, error, flags2, type} = response.data
                        this.words = words
                        this.flags = flags2
                        this.type = type
                        var parse = []
                        for (let i = 0; i < result.length; i++) {
                            let name = result[i]
                            let n = 1
                            let t = words[i].length
                            while (i < result.length && result[i+1] == name) {
                                i++;
                                n++;
                                t += words[i].length
                            }
                            parse.push({name: name, width: 27*n+12*t-5})
                        }
                        if (words.length > result.length) {
                            let n = words.length - result.length
                            let t = 0
                            for (let i = result.length; i < words.length; i++) {
                                t += words[i].length
                            }
                            parse.push({name: "未知", width: 27*n+12*t-5})
                        }
                        this.parse = parse
                        console.log(parse)
                        if (error.length > 0) {
                            // console.log(error.length > 0)
                            e = error[0]
                            for (let i = 1; i < error.length; i++) {
                                e += ", " + error[i]
                            }
                            this.$notify.error({
                                title: "错误",
                                message: e,
                                duration: 5000
                                // message: '这是一条错误的提示消息'
                            });
                        }
                        this.$message({type: 'success',message: '分析成功!'});
                // this.$message({type: 'success',message: '分析成功!'});
            },
            uploadError (response, file, fileList) {
                this.$alert('请检查上传txt文件是否为UTF-8编码', '上传失败',{
                  confirmButtonText: '确定',
                  type: 'error',
                  center: true
                })
                console.log('上传文件', response);
            },
            
            
            randomSample(){
                i = (i + 1) % sample.length;
                x = arr[i];
                this.textarea = sample[x].sentence
                this.extra_word = sample[x].extra_word
                this.extra_flag = sample[x].extra_flag
                this.$message(sample[x].message)
            }
        }
    })
</script>
<style>
    .el-row {
        margin-bottom: 20px;
    }

    .el-col {
        border-radius: 4px;
    }

    .el-tabs {
        /* background-image:url(https://s2.ax1x.com/2019/10/06/u62vOs.png); */
        background-size:120px 130px;
        background-repeat:no-repeat;
        background-position:bottom right
    }
</style>
</html>
