<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<!-- import CSS -->
	<title>情感分析</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css">
</head>

<body>
	<div id="app" style="width: 800px;height: 600px;text-align:center;margin: 0 auto;">
		<el-container >
			<el-main>
				<el-tabs type="border-card">
					<el-tab-pane label="输入文本">
						<el-row type="flex" class="row-bg">
							<el-input type="textarea" :rows="10" placeholder="请输入内容" v-model="textarea" name="sentence">
							</el-input>
						</el-row>
						<el-row type="flex" justify="start">
							<el-col :span="1">
								<el-tooltip class="item" effect="dark" content="示例均来自JD.com，且为非训练语料" placement="bottom-start">
									<el-button type="info" icon="el-icon-refresh" id="random" @click="randomSample" plain>随机示例</el-button>
								</el-tooltip>
							</el-col>
							<el-col :span="8" :offset="7">
								<el-button type="primary" icon="el-icon-s-promotion" name="submit" @click="onSubmit" plain>分析</el-button>
							</el-col>
						</el-row>

					</el-tab-pane>

					<el-tab-pane label="上传文本">
						<el-row type="flex" class="row-bg">
							<el-col :span="6">
								<div class="grid-content bg-purple"></div>
							</el-col>
							<el-col :span="6">
								<div class="grid-content bg-purple-light">
									<el-upload class="upload-demo" drag action="/UploadFile/" multiple name="TxtFile" accept=".txt" :on-success="uploadSuccess"
									 :on-error="uploadError">

										<i class="el-icon-upload"></i>
                                    <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                                    <div class="el-upload__tip">只能上传txt文件，且不超过500kb</div>
                  </el-upload>
                </div>
                <div id="vis"></div>
              </el-col>

              <el-col :span="6">
                <div class="grid-content bg-purple"></div>
              </el-col>
            </el-row>
            

                </el-tab-pane>
                <el-row type="flex" class="row-bg" justify="center">
                    <el-col :span="8">
                        <div></div>
                    </el-col>

                    <el-col :span="8">
                        <el-rate
                                v-model="value"
                                disabled
                                show-score
                                :colors="colors"
                                text-color="#ff9900"
                                score-template="{value}">
                        </el-rate>
                    </el-col>
                    <el-col :span="0">
                        
                    </el-col>
                    <el-col :span="8">
                        
                    </el-col>
                        
                  </el-row>
            </el-tabs>
            
        </el-main>


    </el-container>
    <!-- 右下角的一个2D人物 -->
    <!-- <div id="page_end_html"><script src="https://cdn.jsdelivr.net/npm/live2d-widget@3.0.4/lib/L2Dwidget.min.js"></script> <script type="text/javascript"> L2Dwidget.init(); </script></div> -->
</div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.bootcss.com/vue/2.6.9/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://cdn.bootcss.com/element-ui/2.12.0/index.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script src="/static/d3.js"></script>
<script src="/static/build/d3.layout.cloud.js"></script>
<script>
    var i = -1;
    ls = new Array;
    var arr = [0, 1, 2, 3, 4, 5 ,6];
    function randomsort(a, b) {
        return Math.random()>.5 ? -1 : 1;
    }
    arr.sort(randomsort);//随机打乱
    sample = new Array;
    sample[0] = "手机很好，功能很强大，刷脸功能特别好用，配置很高，速度很快，屏幕超级清晰，拍照很好用，电池容量大，两天一冲，给老婆买的，特别喜欢，爱不释手，质感非常好，支持华为国产手机和国产芯片，性价比超高，物流很快下次还买，家里人都是用的华为手机，非常赞!"
    sample[1] = "京东速度挺快的，包包看起来材质有点不耐背一样的感觉。看图，这种走线的风格不是我喜欢的。也许我不是内行吧，用时间来见证吧！"
    sample[2] = "面料非常舒适，尺码标准，很喜欢，上身效果很好，特别显气质，颜色正，质感特别的不错，款式时尚大方，性价比很高。"
    sample[3] = "之前用的是三门的西门子冰箱，用了七年，觉得储存空间小于是在京东买了这台双开门的。结果…噪音和之前那台比大的我在卧室里晚上都被厨房里的这台冰箱吵得睡不着………原来那台七年零噪音，这台现在在联系售后维修，之前那台买的时候是进口的，这台是国产的，不要让我对国产太失望啊。"
    sample[4] = "有点卡，开关机比较慢。就是比较垃圾吧，不知道后面会怎么样。因为三星是个大品牌，可能后面用着会好。"
    sample[5] = "屏幕显示不如苹果，尤其在显示小字体时分辨率太低，发热控制不好。 尤其指纹解锁非常不方便，开机保护一段时间后指纹无法识别，必须重新输入密码才能解锁。 还有，手写笔在屏幕上的滑动手感不如苹果的pad。 显示和体验感离苹果很有一段距离。"
    sample[6] = "刚听说创业者这本书的时候，内心很自然的反应就是：不同口味的鸡汤而已。但是有一次坊间聚餐，无意中听到了隔壁桌在讨论孙总的这本书，内容、论点、立场都十分的新颖，瞬间让我对他产生了不一样的兴趣。前些日子无意中从京东看见了这本书，我便购买了几本，几天阅读下来，使我对创业者这个概念有了新的认知。京东物流很快，包装完好，服务贴心。"
    new Vue({
        el: '#app',
        data: function () {
            return {
                visible: false,
                textarea:'',
                value:0,
                url:"https://ftp.bmp.ovh/imgs/2019/10/21f9a00cab7d11a0.png",
                colors: ['#99A9BF', '#F7BA2A', '#FF9900'],
            }
        },
        methods:{
            onSubmit(){
                if (this.textarea == "") {
                    this.$message.error('分析内容不能为空');
                } else if (this.textarea.length <= 10) {
                    this.$message.error('分析内容过短');
                } else {
                    var params = new URLSearchParams();
                    params.append('sentence', this.textarea);
                    axios.post("/UploadText/",params).then((response)=>{
                    this.value=response.data;
                    this.$message({type: 'success',message: '分析成功!'});
                    });
                }
            },
            uploadSuccess (response, file, fileList) {
                console.log('上传文件', response)
                this.value=response['Star'];
                ls = response['ls'].reverse();
                doit();
                this.$message({type: 'success',message: '分析成功!'});
            },
            uploadError (response, file, fileList) {
                this.$alert('请检查上传txt文件是否为UTF-8编码', '上传失败',{
                  confirmButtonText: '确定',
                  type: 'error',
                  center: true
                })
                console.log('上传文件', response);
            },
            
            randomSample(){
                var t=document.getElementById("txt");
                i = (i + 1) % 7;
                x = arr[i];
                this.textarea = sample[x]
                switch(x) {
                    case 0:
                        this.$message('此评价来自华为 Mate30，评价星级为 5 星');
                        break;
                    case 1:
                        this.$message('此评价来自十字勋章 双肩包，评价星级为 3 星');
                        break;
                    case 2:
                        this.$message('此评价来自巧谷 女式外套，评价星级为 5 星');
                        break;
                    case 3:
                        this.$message('此评价来自西门子 冰箱，评价星级为 1 星');
                        break;
                    case 4:
                        this.$message('此评价来自三星 星耀7 笔记本，评价星级为 1 星');
                        break;
                    case 5:
                        this.$message('此评价来自三星 星耀pen 翻转本，评价星级为 1 星');
                        break;
                    case 6:
                        this.$message('此评价来自《创业者：不一样的孙陶然》，评价星级为 5 星');
                        break;
                }
            }
        }
    })
    doit=function(){
            document.getElementById('vis').innerHTML = "";
            var fill = d3.scale.category20();
            
            var layout = d3.layout.cloud()
                .size([500, 500])
                .words(ls.map(function(d,index) {
                  return {text: d, size: 10 + index * 10};
                }))
                .padding(5)
                .rotate(function() { return ~~(Math.random() * 2) * 90; })
                .font("Impact")
                .fontSize(function(d) { return d.size; })
                .on("end", draw);
            
            layout.start();
            
            function draw(words) {
              d3.select("#vis").append("svg")
                  .attr("width", layout.size()[0])
                  .attr("height", layout.size()[1])
                .append("g")
                  .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
                .selectAll("text")
                  .data(words)
                .enter().append("text")
                  .style("font-size", function(d) { return d.size + "px"; })
                  .style("font-family", "Impact")
                  .style("fill", function(d, i) { return fill(i); })
                  .attr("text-anchor", "middle")
                  .attr("transform", function(d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                  })
                  .text(function(d) { return d.text; });
            }
            
        }
</script>
<style>
    .el-row {
        margin-bottom: 20px;
    }

    .el-col {
        border-radius: 4px;
    }

    .el-tabs {
        background-image:url(https://s2.ax1x.com/2019/10/06/u62vOs.png);
        background-size:120px 130px;
        background-repeat:no-repeat;
        background-position:bottom right
    }

</style>
</html>
